default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password:
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: blogger_advanced_development

test:
  <<: *default
  database: blogger_advanced_test

production:
  encoding: unicode
  adapter: postgresql
  database: blogger_advanced_production
  pool: 5
  timeout: 5000
